DATABASE_URL="file:./prisma/dev.db"

# Alibaba Cloud Live OpenAPI credentials
ALIYUN_LIVE_ACCESS_KEY_ID=""
ALIYUN_LIVE_ACCESS_KEY_SECRET=""
ALIYUN_LIVE_SECURITY_TOKEN=""
ALIYUN_LIVE_REGION_ID="cn-shanghai"
